<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Invest nazorat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">



    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>odern</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url('{% static '/img/1.jpeg' %}')"></div>


                <h4>{{ user.username }}</h4>
                <small>Art Director</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>
                
                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    
                    <div class="user">
                        <div class="profile-img bg-img" style="background-image: url('{% static '/img/1.jpeg' %}')"></div>

                        
                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>
        
        
        <main>
            
            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>
            
            <div class="page-content">
            
                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ horijiy_list|length }}</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>HORIJIY LOYIHALAR SONI</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ total_sum }}</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>QIYMATI</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <span>Entries</span>
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <button>Add record</button>
                        </div>

                        <div class="browse">
                            <form method="GET" action="">
                                <input type="search" name="q" placeholder="Search" class="record-search">
                                <select name="status">
                                    <option value="">Status</option>
                                    <option value="active">Jarayonda</option>
                                    <option value="deactive">Tugatilgan</option>
                                </select>
                                <select name="soha_yonalishi">
                                    <option value="">Soha yonalishi</option>
                                    <option value="xizmat">Xizmat</option>
                                    <option value="sanoat">Sanoat</option>
                                    <option value="qishloq">Qishloq</option>
                                </select>
                                <button style="padding:0 15px 0 15px; border-radius: 0.2rem; height: 36px;cursor: pointer; background-color: rgba(1, 126, 99, 0);" type="submit">Filter</button>
                                <button style="padding:0 15px 0 15px; border-radius: 0.2rem; height: 36px;cursor: pointer; background-color: rgba(1, 126, 99, 0);"><a href="{% url 'export_to_excel' %}" class="export-button">Hisobot</a></button>
                                
                            </form>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>T/R</th>
                                    <th><span class="las la-sort"></span> NOMI</th>
                                    <th><span class="las la-sort"></span> MASUL VAKIL</th>
                                    <th><span class="las la-sort"></span> QUVVATI</th>
                                    <th><span class="las la-sort"></span> QIYMATI</th>
                                    <th><span class="las la-sort"></span> MUDDATI</th>
                                    <th><span class="las la-sort"></span> SOHASI</th>
                                    <th><span class="las la-sort"></span> HOLATI</th>
                                    <th><span class="las la-sort"></span> TARMOQ</th>
                                </tr>
                               
                            </thead>
                            <tbody>
                                {% for horijiy in horijiy_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ horijiy.title }}</td>
                                    <td>
                                        <div class="client">
                                           <div class="client-img bg-img" style="background-image: url('{% static '/img/3.jpeg' %}')"></div>
                                            <div class="client-info">
                                                <h4>{{ horijiy.masul_vakil }}</h4>
                                                <small>{{ horijiy.get_tuman_display }}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ horijiy.loyiha_quvvati }}</td>
                                    <td>{{ horijiy.loyiha_qiymati }}</td>
                                    <td>{{ horijiy.tugatish_sanasi }}</td>
                                    <td>{{ horijiy.get_soha_yonalishi_display }}</td>
                                    <td>{{ horijiy.get_status_display }}</td>
                                    <td>
                                        <div class="actions">
                                            
                                            <span class="las la-eye"><a href="{{ horijiy.pdf_file.url }}"></a></span>
                                            <span class="las la-ellipsis-v"><a href="{{ horijiy.excel_file.url }}"></a></span>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}
                                                             
                            </tbody>
                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>
</body>
</html>