<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Invest nazorat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>I<span>nvest</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url('{% static 'img/1.jpeg' %}')"></div>
                <h4>{{ user.username }}</h4>
                <small>Art Director</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="" class="active">
                            <span class="las la-home"></span>
                            <small>Invest nazorat</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>
                
                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    
                    <div class="user">
                        <div class="profile-img bg-img" style="background-image: url('{% static 'img/1.jpeg' %}')"></div>
                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            <div class="page-header">
                <h1>Invest nazorat</h1>
                <small>Home / Invest nazorat</small>
            </div>
            
            <div class="page-content">
                <div class="analytics">
                    <div class="card">
                        <div class="card-head">
                            <h2>{{ horijiy_list.paginator.count|intcomma }}</h2>

                            <span class="las la-stream"></span>
                        </div>
                        <div class="card-progress">
                            <small>HORIJIY LOYIHALAR SONI</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ total_sum|floatformat|intcomma }} mlrd.so'm</h2>
                            <span class="las la-dollar-sign"></span>
                        </div>
                        <div class="card-progress">
                            <small>QIYMATI</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ active_count|intcomma }} <br><small style="color: #777;font-size: .8rem;font-weight: 600;">JARAYONDA</small></h2>
                            <h2 style="color: #22baa0;">{{ deactive_count|intcomma }} <br><small style="color: #22baa0;font-size: .8rem;font-weight: 600;">ISHGA TUSHGAN</small></h2>
                            <span class="las la-tasks"></span>
                        </div>
                        <div class="card-progress">
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ expired_count|intcomma }}</h2>
                            <span class="las la-calendar-times"></span>
                        </div>
                        <div class="card-progress">
                            <small>MUDDATI O'TGAN</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="records table-responsive">
                    <div class="record-header">
                        <form method="GET" action="">
                            <div class="add">
                                <span>TANLASH</span>
                                <select name="status">
                                    <option value="">HOLATI</option>
                                    <option value="active">Jarayonda</option>
                                    <option value="deactive">Tugatilgan</option>
                                </select>
                                <select name="soha_yonalishi">
                                    <option value="">SOHASI</option>
                                    <option value="Xizmat">Xizmat</option>
                                    <option value="Sanoat">Sanoat</option>
                                    <option value="Qishloq">Qishloq</option>
                                </select>
                                <select name="tuman">
                                    <option value="">TUMANLAR</option>
                                    <option value="Namangan_shahar">Namangan shahar</option>
                                    <option value="Davlatobod">Davlatobod</option>
                                    <option value="Yangi Namangan">Yangi Namangan</option>
                                    <option value="Mingbuloq">Mingbuloq</option>
                                    <option value="Kosonsoy">Kosonsoy</option>
                                    <option value="Namangan">Namangan</option>
                                    <option value="Norin">Norin</option>
                                    <option value="Pop">Pop</option>
                                    <option value="To`raqo`rg`on">To`raqo`rg`on</option>
                                    <option value="Uychi">Uychi</option>
                                    <option value="Uchqo`rg`on">Uchqo`rg`on</option>
                                    <option value="Chortoq">Chortoq</option>
                                    <option value="Chust">Chust</option>
                                    <option value="Yangiqo`rg`on">Yangiqo`rg`on</option>
                                </select>
                                <button style="cursor: pointer;">Filter</button>
                            </div>
                        </form>
                        <div class="browse">
                            <form method="GET" action="">
                                <div class="add">
                                    <input type="search" name="q" placeholder="Search" class="record-search" value="{{ request.GET.q }}">
                                    <button type="submit" style="margin: 1px;">Qidirish</button>
                                    <button style="margin: 1px;"><a href="{% url 'export_to_excel' %}">Hisobot</a></button>
                                </div>
                            </form>
                            
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#T/R</th>
                                    <th><span class="las la-sort"></span> NOMI</th>
                                    <th><span class="las la-sort"></span> MASUL VAKIL</th>
                                    <th><span class="las la-sort"></span> QUVVATI</th>
                                    <th><span class="las la-sort"></span> QIYMATI</th>
                                    <th><span class="las la-sort"></span> MUDDATI</th>
                                    <th><span class="las la-sort"></span> SOHASI</th>
                                    <th><span class="las la-sort"></span> HOLATI</th>
                                    <th><span class="las la-sort"></span> TARMOQ</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for horijiy in horijiy_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ horijiy.title }}</td>
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img" style="background-image: url('{% static 'img/1.jpeg' %}')"></div>
                                            <div class="client-info">
                                                <h4>{{ horijiy.masul_vakil }}</h4>
                                                <small>{{ horijiy.get_tuman_display }}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ horijiy.loyiha_quvvati }}</td>
                                    <td>{{ horijiy.loyiha_qiymati }}</td>
                                    <td>{{ horijiy.tugatish_sanasi }}</td>
                                    <td>{{ horijiy.get_soha_yonalishi_display }}</td>
                                    <td>{{ horijiy.get_status_display }}</td>
                                    <td>
                                        <div class="actions">
                                            {% if horijiy.pdf_file %}
                                                <span><a href="{{ horijiy.pdf_file.url }}" class="las la-check-square"></a></span>
                                                <span><a href="{{ horijiy.pdf_file.url }}" class="las la-file-pdf"></a></span>
                                            {% else %}
                                                <span class="las la-minus-square"></span>
                                                <span class="las la-file-pdf"></span>
                                            {% endif %}
                                            {% if horijiy.excel_file %}
                                                <span><a href="{{ horijiy.excel_file.url }}" class="las la-file-excel"></a></span>
                                            {% else %}
                                                <span class="las la-file-excel"></span>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if horijiy_list.has_previous %}
                                <a href="?page=1">&laquo;Boshiga </a>
                                <a href="?page={{ horijiy_list.previous_page_number }}">Oldingi</a>
                            {% endif %}

                            <span class="current">
                                {{ horijiy_list.number }}-sahifa
                            </span>

                            {% if horijiy_list.has_next %}
                                <a href="?page={{ horijiy_list.next_page_number }}">Keyingi</a>
                                <a href="?page={{ horijiy_list.paginator.num_pages }}">Oxirgi &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
